<div class="container">
  <h2>JUEGA Y GANA UN 100 en el 3 Momento</h2>
    <div class="roulette-container">
      <div class="roulette">
        <div class="section lose">Supletorio 🥲</div>
        <div class="section win">Pasaste 😀</div>
      </div>
      <div class="arrow"></div>
    </div>
  <div class="container-btn">
    <button class="btn btn-primary" routerLink="/win">Da click si Ganaste</button>
    <button class="btn btn-secondary" routerLink="/lose">Da click si Perdiste</button>
  </div>
</div>
